{{- if eq .chezmoi.hostname "bagelmachine" -}}
export EDITOR="neovide"
export VISUAL="neovide"
alias vim="neovide"
alias vi="neovide"
{{- else -}}
export EDITOR="nvim"
export VISUAL="nvim"
alias vim="nvim"
alias vi="nvim"
{{- end }}

ZSH_AUTOSUGGEST_STRATEGY=(history completion)

source ~/antigen.zsh
antigen init ~/.antigenrc


export GPG_TTY=$(tty)
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent
gpg-connect-agent updatestartuptty /bye > /dev/null

eval "$(fnm env --use-on-cd --shell zsh)"
eval "$(zoxide init zsh)"

# pnpm
export PNPM_HOME="/home/ryanl/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end
